<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config/>
    <!--<mvc:resources mapping="/statics/**" location="/statics/" />-->
    <context:component-scan base-package="com.worthto"/>

    <!--mybatis 数据库配置 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:/config/jdbc.properties</value>
        </property>
    </bean>
    <!--数据源-->
    <bean id="mysqlTestSource" class="org.apache.commons.dbcp.BasicDataSource" lazy-init="default"
          autowire="default">
        <property name="driverClassName" value="${read.driver}"></property>
        <property name="url" value="${read.url}"></property>
        <property name="username" value="${read.user}"></property>
        <property name="password" value="${read.password}"></property>
        <property name="maxActive" value="${read.maxActive}"></property>
        <property name="maxIdle" value="${read.maxIdle}"></property>
        <property name="maxWait" value="${read.maxWait}"></property>
        <property name="timeBetweenEvictionRunsMillis"
                  value="${read.timeBetweenEvictionRunsMillis}"></property>
        <property name="testWhileIdle" value="${read.testWhileIdle}"></property>
        <property name="validationQuery">
            <value>select 1 from DUAL</value>
        </property>
        <property name="removeAbandoned" value="${read.removeAbandoned}"></property>
        <property name="removeAbandonedTimeout"
                  value="${read.removeAbandonedTimeout}"></property>
    </bean>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
        <property name="dataSource" ref="mysqlTestSource"/>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.worthto.mapper"/>
    </bean>
</beans>
