<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ItemCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.worthto.bean.ItemCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <sql id="if_list">
    <if test="id != null"> AND id = #{id,jdbcType=BIGINT} </if>
    <if test="name != null"> AND name = #{name,jdbcType=VARCHAR} </if>
    <if test="sortBy != null"> ORDER BY ${sortBy.key} ${sortBy.direction}</if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from item_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.worthto.bean.ItemCategory" >
    insert into item_category (id, name)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.worthto.bean.ItemCategory" >
    insert into item_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.worthto.bean.ItemCategory" >
    update item_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.worthto.bean.ItemCategory" >
    update item_category
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="countByQuery" resultType="java.lang.Integer" parameterType="com.worthto.bean.ItemCategory">
    SELECT COUNT(id)
    FROM item_category
    WHERE 1
    <if test="id != null"> AND id = #{id,jdbcType=BIGINT} </if>
    <if test="name != null"> AND name = #{name,jdbcType=VARCHAR} </if>
  </select>

  <select id="selectByQuery" resultMap="BaseResultMap" parameterType="com.worthto.bean.service.ItemCategoryQuery" >
    select
    <include refid="Base_Column_List" />
    from item_category
    where 1
    <include refid="if_list"/>
  </select>
</mapper>